kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  podSubnet: {{ pod_subnet }}
  serviceSubnet: {{ service_subnet }}
{% if is_ovn_kubernetes %}
  disableDefaultCNI: true
  apiServerAddress: {{ ansible_default_ipv4.address }}
featureGates:
  SCTPSupport: true
{% endif %}

nodes:
 - role: control-plane
{% if kind_node_image %}
   image: {{ kind_node_image }}
{% endif %}

{%- for _ in range(num_worker | int) %}

 - role: worker
{% if kind_node_image %}
   image: {{ kind_node_image }}
{% endif %}
   extraMounts:
   - hostPath: /dev
     containerPath: /dev
{%- endfor %}
