{% set pf_per_worker = pfs | length / num_worker | int %}
{%- for worker_index in range(num_worker | int) %}

- netns: {{ kind_worker_nodes[worker_index] }}
  pfs:
{%- for index in range(pf_per_worker | int) %}

  {% set pf_index = pf_per_worker | int * worker_index | int + index %}
  - {{ pfs[pf_index] }}
{%- endfor %}
{%- endfor %}
