apiVersion: v1
kind: Pod
metadata:
  name: "{{ pod_name }}"
  namespace: default
  annotations:
    v1.multus-cni.io/default-network: "{{ network_attachment_definition }}"
  labels:
    app: ovn-kubernetes
spec:
  nodeSelector:
    kubernetes.io/hostname: "{{ kind_worker_nodes[idx] }}"
  containers:
  - name: "{{ pod_name }}"
    image: "{{ pod_image }}"
    command: ["/bin/sh", "-c", "sleep infinity"]
    resources:
      requests:
        {{ device_plugin_prefix }}/{{ device_plugin_resource }}: "1"
      limits:
        {{ device_plugin_prefix }}/{{ device_plugin_resource }}: "1"
